h1 {
  color: black;
  background: lightgray;
  align: left;
}


#pink {
  background-color:pink;
}

#green {
  background-color:green;
}

#yellow {
  background-color:yellow;
}

#blue {
  background-color:powderblue;
}

.square {
  color: brown
  width: 50%;
  margin: auto;
  align: left;
  padding: 5px;
  border: 2px black;
  }
}

h2 {
  color: black;
  background: lightgray;
  align: center;
}

h3 {
  color: black;
  background: lightgray;
  align: right;   
}
