<style>
    ul {
           background-color:ivory;
           text-align: center;
           padding: 10px;
         }
        li {
           display: inline;
           padding: 5px;
         }

   .heading-container {
     background-color:"lightgray";
     text-align: center;
     width: 600px;
     margin: auto;
     padding: 20px;
     border: 10px solid black;
         }

   .section-container {
     background-color:white;
     text-align: center;
     width: 600px;
     margin: auto;
     padding: 20px;
     border: 1px solid black;
         }


   nav {
         background-color: powderblue;
         text-align: center
       }

    h1 {
      text-align: center;
        
    }
</style>
